<div id="proyectos" class="bg-slate-800 py-12 px-32 h-screen scroll-mt-20 ">
    <!-- Titulo seccion -->
    <div class="w-full w-3/4 mx-auto text-5xl text-white flex seccionTitle ">
        <h1 class="underline-offset-8 underline  decoration-red-300 transition">Proyectos</h1>
    </div>
    
    <div class="py-12 ">
        <div class="w-3/4 mx-auto  grid grid-rows-2 grid-cols-3 gap-8">

           <!-- tarjetas de proyectos -->
            <div class="proyecto1 w-full border-2 border-solid border-red-300 rounded-lg h-min ">
                <!-- Nombre -->
                <h1 class=" text-3xl text-red-300 font-light flex flex-row justify-center items-center h-16 border-b-2 border-red-300">
                    Joyeria Daliostra
                </h1>
                
                <div class="max-h-min">
                    <!-- Imagen -->
                    <div  data-bs-toggle="modal" data-bs-target="#exampleModalXl">
                        
                        <img  class=" h-52 w-full   hover:opacity-50  hover:cursor-pointer transition-all ease-int-out " src="../../assets/daliostra/inicio.png" alt="">
                            
                       
                        <!-- Descripcion -->
                        <!-- <div class="text-white text-xl col-span-2  ">
                            <div class=" p-4 leading-loose text-justify">        
                                <p>Sitio Web E-Commerce para la comercializacion de productos de la empresa Daliostra </p>
                                
                                <ul class="text-red-300 ">
                                    <p>PHP 8, Wordpress, MYSQL </p>
                                </ul>
                            </div>
                            
                        </div> -->
                        
                            
                        
                        
                    </div>
                    
                    <button class="bg-red-300 hover:bg-red-500 duration-500 rounded-b-md w-full h-12">
                        <a href="https://www.joyasdaliostra.cl/" class="text-white text-lg" >Visitar Sitio Web</a>
                    </button>
                    
                    
                </div>
                
            </div>
            


            <div class="proyecto2 w-full border-2 border-solid border-red-300 rounded-lg h-min  ">
                <!-- Nombre -->
                <h1 class="text-3xl text-red-300 font-light flex flex-row justify-center items-center h-16 border-b-2 border-red-300">
                    A-Sure Trim
                </h1>
                
                <div >
                    <!-- Imagen -->
                   
                        <div class="col-span-1">
                            <img class="h-52 w-full object-cover   hover:scale-110 hover:cursor-pointer transition-all ease-int-out   " src="../../assets/asuretrim/asuretrim1.png" alt="">
                        </div>
                        <!-- Descripcion -->
                        <!-- <div class="text-white text-xl col-span-2">
                            <div class=" p-4 leading-loose text-justify ">        
                                <p class=""> Pagina de aterrizaje de la Empresa A-Sure Trim y su sucursal CM-Maderera, presenta Información del empresa y sus productos. </p>
                                <p class="text-red-300">Tecnologias:</p>
                                <ul class="text-white ">
                                    <p>PHP</p>
                                </ul>
                        </div>
                        
                 


                      </div> -->
                    
                    

                        <a href="http://asuretrim.com/view/en/home/">
                            <button class="bg-red-300 hover:bg-red-500 duration-500 rounded-b-md w-full h-12">
                                <p href="#" class="text-white text-lg" >Visitar Sitio Web</p>
                            </button>
                        </a>
                    
                </div>
                
            </div>

            
            <div class="proyecto3 w-full border-2 border-solid border-red-300 rounded-lg h-min ">
                <!-- Nombre -->
                <h1 class="text-3xl text-red-300 font-light flex flex-row justify-center items-center h-16 border-b-2 border-red-300">
                    Proximamente
                </h1>
                
                <div class="max-h-min">
                    <!-- Imagen -->
                    <div class="  ">
                        
                        <img  class=" h-52 w-full   hover:opacity-50  hover:cursor-pointer transition-all ease-int-out " src="../../assets/coming-soon.jpg" alt="">
                            
                       

                        
                            
                        
                        
                    </div>
                    
                    <button class="bg-red-300 hover:bg-red-500 duration-500 rounded-b-md w-full h-12">
                        <a href="#" class="text-white text-lg" >Visitar Sitio Web</a>
                    </button>
                    
                    
                </div>
                
            </div>
            <div class="proyecto4 w-full border-2 border-solid border-red-300 rounded-lg h-min ">
                <!-- Nombre -->
                <h1 class="text-3xl text-red-300 font-light flex flex-row justify-center items-center h-16 border-b-2 border-red-300">
                    Proximamente
                </h1>
                
                <div class="max-h-min">
                    <!-- Imagen -->
                    <div class="  ">
                        
                        <img  class=" h-52 w-full   hover:opacity-50  hover:cursor-pointer transition-all ease-int-out " src="../../assets/coming-soon.jpg" alt="">
                            

                            
                        
                        
                    </div>
                    
                    <button class="bg-red-300 hover:bg-red-500 duration-500 rounded-b-md w-full h-12">
                        <a href="#" class="text-white text-lg" >Visitar Sitio Web</a>
                    </button>
                    
                    
                </div>
                
            </div>
            <div class="proyecto5 w-full border-2 border-solid border-red-300 rounded-lg h-min ">
                <!-- Nombre -->
                <h1 class="text-3xl text-red-300 font-light flex flex-row justify-center items-center h-16 border-b-2 border-red-300">
                    Proximamente
                </h1>
                
                <div class="max-h-min">
                    <!-- Imagen -->
                    <div class="  ">
                        
                        <img  class=" h-52 w-full   hover:opacity-50  hover:cursor-pointer transition-all ease-int-out " src="../../assets/coming-soon.jpg" alt="">
                            
      
                            
                        
                        
                    </div>
                    
                    <button class="bg-red-300 hover:bg-red-500 duration-500 rounded-b-md w-full h-12">
                        <a href="#" class="text-white text-lg" >Visitar Sitio Web</a>
                    </button>
                    
                    
                </div>
                
            </div>
            <div class="proyecto6 w-full border-2 border-solid border-red-300 rounded-lg h-min ">
                <!-- Nombre -->
                <h1 class="text-3xl text-red-300 font-light flex flex-row justify-center items-center h-16 border-b-2 border-red-300">
                    Proximamente
                </h1>
                
                <div class="max-h-min " data-bs-toggle="modal" data-bs-target="#exampleModalSm">
                    <!-- Imagen -->  
                    <img  class=" h-52 w-full   hover:opacity-50  hover:cursor-pointer transition-all ease-int-out " src="../../assets/coming-soon.jpg" alt="">
                      
                </div>
                    
                <button class="bg-red-300 hover:bg-red-500 duration-500 rounded-b-md w-full h-12">
                    <a href="#" class="text-white text-lg" >Visitar Sitio Web</a>
                </button>
                
                    
           
                
            </div>

           

            


        </div>

    </div>
    

</div>