<div id="proyectos" class=" bg-slate-900 py-12 px-4 lg:px-32 scroll-mt-20 ">
    <!-- Titulo seccion -->
    <div class="text-3xl md:text-5xl text-white flex  w-full lg:w-3/4 lg:mx-auto font-bold  seccionTitle">
        <h1 class="underline-offset-8 underline  decoration-red-300 transition">Proyectos</h1>
    </div>
    
    <div  class="w-full lg:w-3/4 mx-auto grid grid-rows-3 md:grid-rows-none grid-cols-1 md:grid-cols-1 lg:grid-cols-3  gap-4 md:gap-4  my-12 seccionTitle">
        
        <div *ngFor="let p of projectList" class="border border-red-300 border-2 lg:max-w-sm bg-white  rounded-lg shadow dark:bg-gray-800 dark:border-red-300 min-w-fill ">
            <div>
                
                <img class="rounded-t-lg h-52 object-cover w-full" src="assets/{{p.cardImage}}" alt="" />
            </div>
            <div class="p-5 " >
                <div>
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{p.nombre}}</h5>
                </div>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-justify">{{p.description}}</p>
                <div [ngClass]="{'hidden' : !p.habilitado}" class="flex flex-row gap-2 justify-end flex-wrap content-end h-full">
                    <a href="{{p.enlace}}" class="transition duration-500 border border-2 border-red-300 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-300 rounded-lg hover:bg-red-400 focus:ring-4 focus:outline-none focus:ring-red-400 dark:bg-transparent dark:hover:bg-red-300 dark:focus:ring-red-300">
                        Visitar sitio
                        
                    </a>
                    
                    <button data-bs-toggle="modal" [attr.data-bs-target]="'#modal'+p.modalTarget"  (click)="sendData(p.id)" class=" transition duration-500 border border-2 border-red-300 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-300 rounded-lg hover:bg-red-400 focus:ring-4 focus:outline-none focus:ring-red-400 dark:bg-transparent dark:hover:bg-red-300 dark:focus:ring-red-300">
                        Mas Detalles 
                        <img class="w-4 h-4 ml-2 -mr-1" src="assets/search.svg " alt="">
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>