<header   [ngClass]="{ 'bg-slate-900 border-b-2 border-red-300 '  : scrollPos > 1 , 'bg-transparent' : scrollPos == 0}" class="lp w-full transition duration-1000 h-24 fixed flex z-20  text-xl items-center px-32  ">
    <div  class="container flex flex-1 flex-row w-full h-full items-center">
        <!-- Logo -->
        <button  (click)="toTop();" [ngClass]="{ 'text-red-300'  : scrollPos > 1 , 'text-white hover:text-red-300 ' : scrollPos == 0}" class="hover:text-white transition duration-500 text-2xl">
            {{ title }}
        </button>
        <!-- Menu -->
        
        <ul class="flex flex-row ml-auto list-none h-full hover:cursor-pointer ">
            <a (click)="toInfo();" [ngClass]="{ 'text-red-300 hover:text-white'  : scrollPos > 1 , 'text-white hover:text-slate-800' : scrollPos == 0}" class=" px-10 hover:bg-white/25 hover:transition ease-in-out duration-1000 h-full flex items-center   "><li>Informacion</li></a>
            <a (click)="toKnowledge();" [ngClass]="{ 'text-red-300 hover:text-white'  : scrollPos > 1 , 'text-white hover:text-slate-800' : scrollPos == 0}"  class=" px-10 hover:bg-white/25 hover:transition duration-1000 h-full flex items-center    "><li>Conocimiento</li></a>
            <a (click)="toProjects();" [ngClass]="{ 'text-red-300 hover:text-white'  : scrollPos > 1 , 'text-white hover:text-slate-800' : scrollPos == 0}"  class=" px-10 hover:bg-white/25 hover:transition duration-1000 h-full flex items-center    "><li>Proyectos</li></a>
            <a (click)="toContact();" [ngClass]="{ 'text-red-300 hover:text-white'  : scrollPos > 1 , 'text-white hover:text-slate-800' : scrollPos == 0}"  class=" px-10 hover:bg-white/25 hover:transition duration-1000 h-full flex items-center    "><li>Contacto</li></a>
            
        </ul>
        



        
    </div>



</header>


<!-- Enlaces laterales -->
<div class="flex flex-col justify-end  h-full ">

    <div class="fixed  right-0 z-20 top-1/2" >
        <!-- hover:w-48 -->
        <button class="mt-60 bg-green-300 h-16 w-20 hover:w-48 rounded-l-full  ease-in-out transition-all duration-500 drop-shadow-2xl opacity-75 hover:opacity-100 "><a href="https://wa.me/56979708095"><img class="mx-auto h-12" src="../../assets/wsp.png" alt=""></a></button>
    </div>

    <div class="fixed  right-0 z-20 top-1/2 " >
        <!-- hover:w-48 -->
        <button class="mt-40 bg-blue-300 h-16 w-20 hover:w-48 rounded-l-full  ease-in-out  transition-all  duration-500 drop-shadow-2xl opacity-75 hover:opacity-100"><a href="https://www.linkedin.com/in/bryan-paredes/"><img class="mx-auto h-12" src="../../assets/linkedin.svg" alt=""></a></button>
    </div>
    <div class="fixed  right-0 z-20 top-1/2 " >
        <!-- hover:w-48 -->
        <button class="mt-20 bg-slate-300 h-16 w-20 hover:w-48 rounded-l-full  ease-in-out  transition-all  duration-500 drop-shadow-2xl opacity-75 hover:opacity-100"><a href="https://github.com/BrParedes"><img class="mx-auto h-12" src="../../assets/github.png" alt=""></a></button>
    </div>
    <div class="fixed  right-0 z-20 top-1/2 " >
        <!-- hover:w-48 -->
        <button class=" bg-red-300 h-16 w-20 hover:w-48 rounded-l-full  ease-in-out  transition-all  duration-500 drop-shadow-2xl opacity-75 hover:opacity-100"><a href="../../assets/cv/CV_BRYAN_PAREDES.pdf"><div class="place-items-center flex h-12 w-12 rounded-full bg-white mx-auto "><p class="w-full flex justify-center text-red-300 font-extrabold text-2xl">CV</p></div></a></button>
    </div>


    
        
        
    
        
    
</div>
