<div class="relative content lp2 scroll-smooth overflow-hidden" role="main" >

  <app-navbar></app-navbar>
  <app-landing-page></app-landing-page>
  <app-informacion></app-informacion>
  <app-conocimientos2></app-conocimientos2>
  <app-proyectos></app-proyectos>
  <app-contacto></app-contacto>
  <app-carousel></app-carousel>
  <app-footer></app-footer>


  
  
</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
