<div id="top" class=" h-screen relative scroll-smooth ">
    <img class="h-screen w-full object-cover absolute  " src="assets/2.svg" alt="">

    <div class="absolute w-full h-full bg-gradient-to-b from-transparent to-slate-800">
        <div class="h-full w-3/4 flex mx-auto ">

            <div class="flex w-full " >

                <div class="flex flex-col  text-white w-full  h-full justify-center ">
        
                    <div class="text-9xl font-bold w-full mb-12 opacity-100 ">
                        <p class=" scrollT1 text-center drop-shadow-2xl ">
                            Bryan Paredes
                        </p> 
                    </div>
                    <div class=" text-7xl w-full">
                        <p class="scrollT2 text-center drop-shadow-2xl">Desarrollador web</p> 
                    </div>
                </div>


    
                
            </div>
           
    
            
            
        </div>
    </div>
    

   <!--  <div class="w-full mx-auto ">
        
        
    </div> -->
    
    
        <!-- <button class="absolute bottom-16  flex w-full justify-center"><img class="w-18   h-20 text-red-300 bg-red-300 rounded-full"src="../../assets/down-arrow.svg" alt=""></button> --> 
    

    
   

</div>

    <!-- <div class="container-fluid w-full h-full flex flex-row px-32 absolute bg-gradient-to-b from-transparent to-slate-800 " >
        <div class="flex flex-col basis-1/2 text-white w-1/2 h-full justify-center ">

            <div class="text-9xl  w-full mb-12 opacity-100">
                Bryan Paredes
            </div>
            <div class="text-6xl  w-full">
                Web developer
            </div>
        </div>

        <div class="container-fluid w-1/2 basis-1/2 h-full">

        </div>




    </div> -->