<div id="info" class="h-screen bg-slate-800 py-12 px-32 scroll-mt-20 ">
    <!-- Titulo seccion -->
    
    <div class="w-full text-5xl text-white flex  w-3/4 mx-auto font-bold seccionTitle">
        <p class="underline-offset-8 underline  decoration-red-300 transition text-white" >Un poco sobre mi</p>
        
    </div>
    
    <!-- tarjeta -->
    <div class="w-3/4 mx-auto   rounded-lg  "><!-- my-12  -->
      
        <div class="grid grid-cols-2 gap-12 text-justify py-12 w-full  ">
            <!-- texto -->
            <div class="text-white text-2xl leading-relaxed">
                Soy un joven chileno de 26 años recientemente titulado en Ingenieria de Ejecución en Computación e Informatica en la Universidad del Bio-Bio, nacido y criado en Concepcion, mi gran pasion es la programacion, actualmente mi enfoque se centra en la programacion web,
                mis objetivos son desarrollar mis habilidades trabajando tanto en Front-end como en Back-end, actualmente en busca de empleo, me encuentro en la busqueda como desarrollador web en las anteriormente mencionadas. 
                Si desea conocer mas de mi, a continuacion encontrara los proyectos que he realizado.
            </div>
            <!-- Imagen -->
            <div class="container-fluid  ">
                <img src="assets/bparedes2.png" alt="">
            </div>
        </div>
        
    </div>
   
</div>
