<div id="info" class=" h-screen bg-slate-800 py-12 px-32 scroll-mt-20 ">
    <!-- Titulo seccion -->
    
    <div class="w-full text-5xl text-white flex  w-3/4 mx-auto font-bold seccionTitle">
        <p class="underline-offset-8 underline  decoration-red-300 transition text-white" >Un poco sobre mi</p>
        
    </div>
    
    <!-- tarjeta -->
    <div class="w-3/4 mx-auto   "><!-- my-12  -->
      
        <div class="grid grid-rows-2 grid-cols-2 gap-12 text-justify py-12 w-full  ">
            <!-- texto -->
            <div class=" text-white text-2xl leading-relaxed">
                Soy un joven chileno de 26 años graduado en Ingeniería de Ejecución en Computación e Informática de la Universidad del Bio-Bio. Vivo en Concepción y mi gran pasión es la programación, especialmente en el ámbito del desarrollo web. Mi objetivo es desarrollar mis habilidades en ambos lados, tanto Front-end como Back-end. Actualmente, estoy buscando oportunidades laborales en las que pueda aprender nuevas tecnologías y enfrentar nuevos desafíos. A continuación, encontrará información sobre algunos de los proyectos que he realizado. Si desea saber más acerca de mí, por favor, no dude en preguntarme.
            </div>
            <!-- Imagen -->
            <div class=" container-fluid  ">
                <img src="assets/bparedes2.png" alt="">
            </div>

            <!-- <div class="col-span-2 mx-auto flex justify-center">
                <div class="h-14 w-14 hover:scale-125 transition-all duration-500">
                    <img (click)="toNextSection();" class="hover:cursor-pointer  h-14 w-14 revealButton mx-auto flex justify-center bottom-20" src="assets/down-arrow2.png"  >
                </div>
                
            </div> -->
            
        </div>
        
        
        
    </div>

    
    
   
</div>
